@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.data-container {
  display:flex;
  flex-direction: row;
  margin: 0px auto;
  width: 80%;
  justify-content: center;
}

.data-column {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 10px;
  justify-content: left;
  width: 50%;
  text-align: left;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 5px;
}

.red {
  color: red;
}

.button {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 5px;
}

.button-primary {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(200, 199, 199);
  border-radius: 5px;
  font-size: 16px;
}

.button-div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: auto;
  width: 80%;
}

::-webkit-file-upload-button {
  border: 1px solid rgb(200, 199, 199);
  border-radius: 5px;
  padding: 10px;
}